*{  
   margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
.device_NE8000M6_AC_h-large-first_td_large-main-pro6{
position: relative;
    position: relative;
    border: 2px solid gray;
    border-radius: 10px;
}
.left-box-pro5,
.right-box-pro5 {
  width: 85px;
  height: 268px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-top-pro5 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 13px;
}
 
.left-top-pro5 .left-inr-top-pro5 {
  width: 49.21875px;
  height: 25.3125px;
  background-color: #ffffff;
  border-radius: 10px;
}
 
.small-div-pro5 {
  width: 15.46875px;
  height: 15.46875px;
  background-color: #ffffff;
  border-radius: 50%;
}
.small1-div-pro5 {
  position: relative;
  top: 200px;
  width: 15.46875px;
  height: 15.46875px;
  background-color: #ffffff;
  border-radius: 50%;
}
 
.left-top-pro5 .left-inr-bottom-pro5 {
    position: relative;
  top: 50px;
  width: 12.65625px;
  height: 49.21875px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 15px;
}
 
.left-bottom-pro5 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-top: 60px;
}
 
.left-bottom-pro5 .left-last-bottom-pro5 {
      position: relative;
    top: 300px;
    width: 28.125px;
    height: 42.1875px;
    background-color: #ffffff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}


.AE121-pro5 {
  margin: 20px 0 0 5px;
    background-color: #28282A;
    display: flex;
    justify-content: space-between;
    width: 1898.4375px;
    height: 568.125px;
    border: 2px solid black;
}

.AR121-header-pro5 {
    background-color: white;
    width: 1702.6534423828125px;
    height: 267.617554px;
    border: 2px solid black;
    display: flex;
}


.right-box-pro5 .right-top-pro5 {
  width: 100%;
  height: 50%;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
 
.right-box-pro5 .right-inr-top-pro5 {
  width: 49.21875px;
  height: 25.3125px;
  background-color: #ffffff;
  border-radius: 10px;
}
 
.right-box-pro5 .right-circle-pro5 {
  position: relative;
    top: 20px;
  width: 30px;
  height: 30px;
  background-color: #acadaf;
  border-radius: 50%;
  border: 1.5px solid #707070;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.right-circle-pro5 .inr-circle-pro5 {
  width: 16px;
  height: 16px;
  border: 1.4px solid #707070;
  background-color: #ffffff;
  border-radius: 50%;
}
 
.right-bottom-pro5 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
 
.right-bottom-pro5 .right-last-bottom-pro5 {
      position: relative;
    top: 300px;
  width: 28.125px;
  height: 42.1875px;
  background-color: #ffffff;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.device_NE8000M6_AC_table {
  width: 1702px;
  border-collapse: separate;
  border-spacing: 15px;
  height: 568.125px;
}
 
.device_NE8000M6_AC_table td {
  background: #ffffff;
  border-radius: 10px;
  border: none;
  
}
 
.device_NE8000M6_AC_h-large {
  width: 730px;
  height: 116px;
}
.device_NE8000M6_AC_h-twocol {
  width: 357px;
  height: 250px;
}
 
.device_NE8000M6_AC_h-full {
  width: 120px;
  height: 512px;
}
.device_NE8000M6_AC_h-first-last {
  width: 70px;
  height: 512px;
}
 .main-div-pro6{
    background-color: #f2f2f2;
    width: 1798.4375px;
    height: 563.125px;

 }
.section1-pro6 {
    width: 23.90702819824221px;
    height: 23.90702819824221px;
    background-color: #3E3E3F;
    border-radius: 50%;
    position: relative;
    left: 15px;
   top: 40px;

    /* exact soft shadow like image */
    box-shadow:
        0 0 25px 10px rgba(0, 0, 0, 0.15);
}
.section8-pro6 {
    width: 23.90702819824221px;
    height: 23.90702819824221px;
    background-color: #3E3E3F;
    border-radius: 50%;
    position: relative;
     left: 686px;
    top: 15px;


    /* exact soft shadow like image */
    box-shadow:
        0 0 25px 10px rgba(0, 0, 0, 0.15);
}
 .section2-pro6{
      top: -30px;
    left: 50px;
    position: absolute;
    transform: rotate(-90deg);
  width: 75px;
  height: 62px;
  position: relative;
  font-size: 8.44px;
  font-weight: 600;
 }
  .section9-pro6{
      top: -93px;
    left: 637px;
    position: absolute;
    transform: rotate(-90deg);
  width: 75px;

  position: relative;
  font-size: 8.44px;
  font-weight: 600;
 }
  .section10-pro6{
    top: 95px;
    left: 649px;
    position: absolute;
    transform: rotate(1800deg);
    width: 75px;
    font-size: 8.44px;
    font-weight: 600;
 }
 .section2-pro6.subsection2-pro6{
  position: absolute;
  left: 50px;
  right: 50px;
  font-size: 8.44px;
  font-weight: 600;
 }
 .dot-box-section4-pro6 {
position: absolute;
      right: 526px;
    top: 20px;
    width: 87.27875518798828px;
    height: 28.11969566345215px;
    border-radius: 6px;
    padding: 3px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 2px;
}
 .dot-box-section4-pro61 {
  width: 35.28px;
  height: 6.12px;
  border-radius: 6px;
  padding: 3px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  gap: 2px;
}
 .dot-box-section4-pro62 {
  margin-left: 2px;
  width: 35.28px;
  height: 6.12px;
  border-radius: 6px;
  padding: 3px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  gap: 2px;
}
 .dot-box-section4-pro63 {
  margin-left: 3px;
  width: 35.28px;
  height: 6.12px;
  border-radius: 6px;
  padding: 3px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  gap: 2px;
}
 .dot-box-section4-pro65 {
  margin-left: 5px;
  width: 35.28px;
  height: 6.12px;
  border-radius: 6px;
  padding: 3px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  gap: 2px;
}
 .dot-box-section4-pro66 {
  margin-left: 5px;
  width: 35.28px;
  height: 6.12px;
  border-radius: 6px;
  padding: 3px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  gap: 2px;
}

.dot {
  width: 5px;
  height: 5px;
  background: #000;
  border-radius: 50%;
}

.dot.gray {
  background: #9e9e9e;
}
.subsection31-pro6{
  width:12.656661987304688px ;
  height:26.719619750976562px ;
  background-color:#303231 ;
  border: 2px solid #707070;
}
.subsection32-pro6{
top: 0px;
    position: absolute;
    left: 16px;
    width: 12.656661987304688px;
    height: 26.719619750976562px;
    background-color: #303231;
    border: 2px solid #707070;
}
.section3-pro6{
  top: 25px;
    left: 75px;
    position: absolute;
    /* display: flex; */
    width:26.7191162109375px;
    height: 56.249603271484375px;
}
.subsection33-pro6{
    left: -3px;
    top: 40px;
    position: absolute;
    transform: rotate(-90deg);
    font-size: 8.44px;
    font-weight: 400;
}
.subsection34-pro6{
     left: 15px;
    top: 40px;
    position: absolute;
    transform: rotate(-90deg);
    font-size: 8.44px;
    font-weight: 400;
}
/* Outer container */
.device-wrapper-section5-pro6 {
    position: absolute;
    top: 45px;
    left: 260px;
  width: 104.0625px;
  height: 53.5257568359375px;
  padding: 8px 10px 12px;
  background: #f7fbff;

}

/* Top text */
.top-label-section5-pro6 {
    width: 50px;
    height: 11px;
    display: flex;
    justify-content: space-between;
    font-size: 8.44px;
    font-weight: 600;
    margin-bottom: 6px;
    position: absolute;
    top: -10px;
    left: 35px;
}

/* Black device body */
.device-body-section5-pro6 {
      position: absolute;
    top: 6px;
    left: 24px;
  width: 73.125px;
  height: 39.4632568359375px;
  border: 2px solid #707070;
  background: #000;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  justify-content: center;
}

/* Inner slot */
.slot-section5-pro6 {
  width: 52.23185348510742px;
  height:13.928089141845703px;
  background: #4E4D4B;
  border: 2px solid #707070;
  border-radius: 2px;
    position: absolute;
    top: 3px;
}

/* Small squares inside slot */
.slot-section5-pro6 .dot-section5-pro6 {
  width:4.642172813415527px;
  height: 4.642172813415527px;
  background: #2b2b2b;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}

.slot-section5-pro6 .dot-section5-pro6.left-section5-pro6 {
  left: 3px;
}

.slot-section5-pro6 .dot-section5-pro6.right-section5-pro6 {
  right: 3px;
}

/* Bottom text */
.bottom-text-section5-pro6 {
    position: absolute;
    top: 6px;
    left: 24px;
  bottom: -18px;
  left: 8px;
  font-size: 8.44px;
}
.bottom-text-section5-pro6{
     position: absolute;
    top: 33px;
    left: 24px;
    bottom: -18px;
    left: -2px;
  font-size: 8.44px;
}
 .dot-box-section6-pro6 {
position: absolute;
       right: 270px;
    top: 25px;
    width: 87.27875518798828px;
    height: 28.11969566345215px;
    border-radius: 6px;
    padding: 3px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 2px;
}
 .dot-box-section6-pro61 {
  width: 35.28px;
  height: 6.12px;
  border-radius: 6px;
  padding: 3px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  gap: 2px;
}
 .dot-box-section6-pro62 {
  margin-left: 2px;
  width: 35.28px;
  height: 6.12px;
  border-radius: 6px;
  padding: 3px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  gap: 2px;
}
 .dot-box-section6-pro63 {
  margin-left: 3px;
  width: 35.28px;
  height: 6.12px;
  border-radius: 6px;
  padding: 3px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  gap: 2px;
}
 .dot-box-section6-pro65 {
  margin-left: 5px;
  width: 35.28px;
  height: 6.12px;
  border-radius: 6px;
  padding: 3px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  gap: 2px;
}
 .dot-box-section6-pro66 {
  margin-left: 5px;
  width: 35.28px;
  height: 6.12px;
  border-radius: 6px;
  padding: 3px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 1fr;
  gap: 2px;
}
.dot6 {
  width: 5px;
  height: 5px;
  background: #000;
  border-radius: 50%;
}

.dot6.gray6 {
  background: #9e9e9e;
}
.device-wrapper-section7-pro6 {
    position: absolute;
    top: 45px;
    left: 510px;
  width: 104.0625px;
  height: 53.5257568359375px;
  padding: 8px 10px 12px;
  background: #f7fbff;

}

/* Top text */
.top-label-section7-pro6 {
    width: 50px;
    height: 11px;
    display: flex;
    justify-content: space-between;
    font-size: 8.44px;
    font-weight: 600;
    margin-bottom: 6px;
    position: absolute;
    top: -10px;
    left: 35px;
}

/* Black device body */
.device-body-section7-pro6 {
      position: absolute;
    top: 6px;
    left: 24px;
  width: 73.125px;
  height: 39.4632568359375px;
  border: 2px solid #707070;
  background: #000;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  justify-content: center;
}

/* Inner slot */
.slot-section7-pro6 {
  width: 52.23185348510742px;
  height:13.928089141845703px;
  background: #4E4D4B;
  border: 2px solid #707070;
  border-radius: 2px;
    position: absolute;
    top: 3px;
}

/* Small squares inside slot */
.slot-section7-pro6 .dot-section7-pro6 {
  width:4.642172813415527px;
  height: 4.642172813415527px;
  background: #2b2b2b;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}

.slot-section7-pro6 .dot-section7-pro6.left-section7-pro6 {
  left: 3px;
}

.slot-section7-pro6 .dot-section7-pro6.right-section7-pro6 {
  right: 3px;
}

/* Bottom text */
.bottom-text-section7-pro6 {
    position: absolute;
    top: 6px;
    left: 24px;
  bottom: -18px;
  left: 8px;
  font-size: 8.44px;
}
.bottom-text-section7-pro6{
     position: absolute;
    top: 33px;
    left: 24px;
    bottom: -18px;
    left: -2px;
  font-size: 8.44px;
}
.rap_tableAc {
  position: absolute;
  left: 5px;
  bottom: -1.5px;
}
.rap_tableAc .dark_gry {
  width: 266.8665466308594px;
  height: 2.849980592727661px;
  background: #919296;
}
.rap_tableAc .light_gry {
  width: 266.8665466308594px;
  height: 2.849980592727661px;
  background: #bdbec1;
}
.rap_tableAc .half_rap {
  width: 38.1237907409668px;
  height: 4.274970531463623px;
  background: #aaabad;
  position: absolute;
  top: -1px;
  left: 0;
}
.rap_tableAc .left_road_handel {
  width: 47.76919937133789px;
  height: 11.298968315124512px;
  background: #acadaf;
  position: absolute;
  top: -8.5px;
  left: 38px;
}
  
.right_road_handel {
  width: 107px;
  height: 11.298968315124512px;
  position: absolute;
  top: -8.5px;
  right: 0px;
  display: flex;
  align-items: end;
}
 
.right_road_handel span {
  display: inline-block;
}
.right_road_one {
  width: 2.985574960708618px;
  height: 4.519587516784668px;
  background: #989a9c;
}
.right_road_two {
  width: 2.985574960708618px;
  height: 6.779381275177002px;
  background: #acadaf;
}
.right_road_three {
  width: 2.985574960708618px;
  height: 11.298968315124512px;
  background: #acadaf;
}
.right_road_four {
  width: 2.985574960708618px;
  height: 11.298968315124512px;
  background: #83858b;
}
.right_road_five {
  width: 90.31364440917969px;
  height: 11.298968315124512px;
  background: #acadaf;
}
.right_road_six {
  width: 5.224756240844727px;
  height: 11.298968315124512px;
  background: #83858b;
}
 .left_road_inner {
    display: flex;
    justify-content: space-between;
    padding: 2px 2px 0px 2px;
}
 
.six_table_rec {
    display: flex;
    width: 9px;
    height: 7.285911560058594px;
    background: #f4f5f8;
}
 
.simple_rec {
    width: 16.420663833618164px;
    height: 7.285911560058594px;
    background: #f4f5f8;
}
 .rap_tableAc2 {
      transform: rotatey(180deg);
  position: absolute;
  right: 6px;
  bottom: -1.5px;
}
.rap_tableAc2 .dark_gry2 {
  width: 266.8665466308594px;
  height: 2.849980592727661px;
  background: #919296;
}
.rap_tableAc2 .light_gry2 {
  width: 266.8665466308594px;
  height: 2.849980592727661px;
  background: #bdbec1;
}
.rap_tableAc2 .half_rap2 {
  width: 38.1237907409668px;
  height: 4.274970531463623px;
  background: #aaabad;
  position: absolute;
  top: -1px;
  left: 0;
}
.rap_tableAc2 .left_road_handel2 {
  width: 47.76919937133789px;
  height: 11.298968315124512px;
  background: #acadaf;
  position: absolute;
  top: -8.5px;
  left: 38px;
}
  
.right_road_handel2 {
  width: 107px;
  height: 11.298968315124512px;
  position: absolute;
  top: -8.5px;
  right: 0px;
  display: flex;
  align-items: end;
}
 
.right_road_handel2 span {
  display: inline-block;
}
.right_road_one2 {
  width: 2.985574960708618px;
  height: 4.519587516784668px;
  background: #989a9c;
}
.right_road_two2 {
  width: 2.985574960708618px;
  height: 6.779381275177002px;
  background: #acadaf;
}
.right_road_three2 {
  width: 2.985574960708618px;
  height: 11.298968315124512px;
  background: #acadaf;
}
.right_road_four2 {
  width: 2.985574960708618px;
  height: 11.298968315124512px;
  background: #83858b;
}
.right_road_five2 {
  width: 90.31364440917969px;
  height: 11.298968315124512px;
  background: #acadaf;
}
.right_road_six2 {
  width: 5.224756240844727px;
  height: 11.298968315124512px;
  background: #83858b;
}
 .left_road_inner2 {
    display: flex;
    justify-content: space-between;
    padding: 2px 2px 0px 2px;
}
 
.six_table_rec2 {
    display: flex;
    width: 9px;
    height: 7.285911560058594px;
    background: #f4f5f8;
}
 
.simple_rec2 {
    width: 16.420663833618164px;
    height: 7.285911560058594px;
    background: #f4f5f8;
}
 